<div class="dynamic-item-block detail-item-section card mb-3">
    <div class="card-body">
        <h4 style="font-size:30px; text-align:center"><i class="fa fa-image" style="color: #007bff"></i> SECCIÓN DEL BANNER</h4>
        <div class="form-group">
            <label for="itemDetails_<%= mainIndex %>_hero_title">Título Hero:</label>
            <input type="text" id="itemDetails_<%= mainIndex %>_hero_title" name="itemDetails[<%= mainIndex %>][hero][title]" value="<%= itemDetail.hero ? itemDetail.hero.title : '' %>" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="itemDetails_<%= mainIndex %>_hero_subtitle">Subtítulo Hero:</label>
            <input type="text" id="itemDetails_<%= mainIndex %>_hero_subtitle" name="itemDetails[<%= mainIndex %>][hero][subtitle]" value="<%= itemDetail.hero ? itemDetail.hero.subtitle : '' %>" class="form-control">
        </div>
        <div class="form-group">
            <label for="itemDetails_<%= mainIndex %>_hero_backgroundImage">URL de Imagen de Fondo Hero:</label>
            <input type="text" id="itemDetails_<%= mainIndex %>_hero_backgroundImage" name="itemDetails[<%= mainIndex %>][hero][backgroundImage]" value="<%= itemDetail.hero ? itemDetail.hero.backgroundImage : '' %>" class="form-control">
        </div>

        <h4 style="font-size:30px; text-align:center"><i class="fas fa-file-text" style= "color:#007bff"></i> BLOQUES DE CONTENIDO DE DETALLE</h4>
        <div id="item-details-content-sections-container-<%= mainIndex %>">
            <% if (itemDetail.contentSections && itemDetail.contentSections.length > 0) { %>
                <% itemDetail.contentSections.forEach(function(block, contentIndex) { %>
                    <%- include('detailContentBlock', { block: block, mainIndex: mainIndex, contentIndex: contentIndex }); %>
                <% }); %>
            <% } else { %>
                <p class="empty-list-message">Aún no hay bloques de contenido. Añade uno:</p>
            <% } %>
        </div>

        <h4 style="font-size:30px; text-align:center"><i class="fas fa-phone" style="color:#007bff"></i> INFORMACIÓN DE CONTACTO</h4>
        <div class="form-group">
            <label for="itemDetails_<%= mainIndex %>_contactInfo_title">Título de Contacto:</label>
            <input type="text" id="itemDetails_<%= mainIndex %>_contactInfo_title" name="itemDetails[<%= mainIndex %>][contactInfo][title]" value="<%= itemDetail.contactInfo ? itemDetail.contactInfo.title : '' %>" class="form-control">
        </div>
        <div class="form-group">
            <label for="itemDetails_<%= mainIndex %>_contactInfo_companyName">Nombre de la Compañía (Contacto):</label>
            <input type="text" id="itemDetails_<%= mainIndex %>_contactInfo_companyName" name="itemDetails[<%= mainIndex %>][contactInfo][companyName]" value="<%= itemDetail.contactInfo ? itemDetail.contactInfo.companyName : '' %>" class="form-control">
        </div>
        <div class="form-group">
            <label for="itemDetails_<%= mainIndex %>_contactInfo_companyDetail">Detalle de la Compañía (Contacto):</label>
            <input type="text" id="itemDetails_<%= mainIndex %>_contactInfo_companyDetail" name="itemDetails[<%= mainIndex %>][contactInfo][companyDetail]" value="<%= itemDetail.contactInfo ? itemDetail.contactInfo.companyDetail : '' %>" class="form-control">
        </div>
        <div class="form-group">
            <label for="itemDetails_<%= mainIndex %>_contactInfo_phone">Teléfono de Contacto:</label>
            <input type="text" id="itemDetails_<%= mainIndex %>_contactInfo_phone" name="itemDetails[<%= mainIndex %>][contactInfo][phone]" value="<%= itemDetail.contactInfo ? itemDetail.contactInfo.phone : '' %>" class="form-control">
        </div>
        <div class="form-group">
            <label for="itemDetails_<%= mainIndex %>_contactInfo_email">Correo de Contacto:</label>
            <input type="email" id="itemDetails_<%= mainIndex %>_contactInfo_email" name="itemDetails[<%= mainIndex %>][contactInfo][email]" value="<%= itemDetail.contactInfo ? itemDetail.contactInfo.email : '' %>" class="form-control">
        </div>
    </div>
</div>

