<div class="item-block card mb-3">
    <div class="card-body">
        <h5 class="card-title">ÍTEM ESPECIALIZADO</h5>
        <div class="form-group">
            <label for="<%= parentFieldName %>[<%= index %>][name]">Nombre:</label>
            <input type="text" id="<%= parentFieldName %>[<%= index %>][name]" name="<%= parentFieldName %>[<%= index %>][name]" value="<%= item.name %>" class="form-control" required minlength = 10 maxlength = 100>
        </div>
        <div class="form-group">
            <label for="<%= parentFieldName %>[<%= index %>][image]">URL de Imagen:</label>
            <input type="text" id="<%= parentFieldName %>[<%= index %>][image]" name="<%= parentFieldName %>[<%= index %>][image]" value="<%= item.image %>" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="<%= parentFieldName %>[<%= index %>][description]">Descripción:</label>
            <textarea id="<%= parentFieldName %>[<%= index %>][description]" name="<%= parentFieldName %>[<%= index %>][description]" rows="3" class="form-control" required minlength = 200 maxlength = 450><%= item.description %></textarea>
        </div>
        <button type="button" class="remove-item-button btn btn-danger btn-sm">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</div>